* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: white;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d5d4d0), color-stop(1%, #d5d4d0), color-stop(31%, #eeeeec), color-stop(75%, #efeeec), to(#e9e9e7));
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

.container {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: height 0.5s ease, -webkit-transform 0.5s ease-out;
  transition: height 0.5s ease, -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out, height 0.5s ease;
  transition: transform 0.5s ease-out, height 0.5s ease, -webkit-transform 0.5s ease-out;
  width: 100%;
  height: 100%;
  padding: 0 3em;
  -webkit-box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.6);
          box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.6);
}
.container.show-nav {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  height: 200%;
}
.container.show-nav + .nav .nav__item {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.container.show-nav .circle {
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.container.show-nav .content {
  height: 200%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}
.circle-container .circle {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -webkit-box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.6);
          box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.6);
}
.circle-container .circle button {
  position: absolute;
  top: 20%;
  left: 80%;
  height: 6.25em;
  background: transparent;
  border: none;
  font-size: 2em;
  color: white;
  cursor: pointer;
}
.circle-container .circle button:focus {
  outline: none;
  text-decoration: underline;
}
.circle-container .circle button#open {
  left: 60%;
}
.circle-container .circle button#close {
  top: 60%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.content {
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 1000px;
  padding: 1em 0;
  height: 100%;
  padding-top: 3em;
  margin: auto;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}
.content .content__title {
  margin: 0.25em 0;
  text-align: center;
}
.content small {
  font-style: italic;
  display: block;
  text-align: center;
}
.content .content__main {
  padding: 1.25em 2em;
  line-height: 1.5;
  margin-bottom: 2em;
}
.content .content__subtitle {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
}
.content img {
  max-width: 95%;
  margin: auto;
  display: block;
  border-radius: 15px;
}

.nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 1;
}
.nav .nav__list {
  list-style: none;
  padding-left: 30px;
}
.nav .nav__list .nav__item {
  text-transform: uppercase;
  margin: 20px 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}
.nav .nav__list .nav__item + li {
  margin-left: 1em;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}
.nav .nav__list .nav__item + li + li {
  margin-left: 2em;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}
.nav .nav__list .nav__item .nav__link {
  color: black;
  text-decoration: none;
  position: relative;
}
.nav .nav__list .nav__item .nav__link .fas {
  font-size: 1.25em;
  padding-right: 0.5em;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #d5d4d0;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */