* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  color: white;
  border: 1px solid #9733ee;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1em 2em;
  margin: 0.5em 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  .circle {
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
  }
  &:focus {
    outline: none;
    border: 1px solid white;
  }
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
