:root {
  --main-color: #0d1117;
  --secondary-color: #161b22;
  --font-color: #c9d1d9;
  --highlight-color: #388bfd;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--main-color);
  color: var(--font-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.form {
  width: 100%;
  max-width: 700px;
  background-color: var(--secondary-color);
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 2em;
}
.form .form-input {
  width: 50%;
  display: block;
  background-color: var(--main-color);
  border: 1px solid var(--font-color);
  color: inherit;
  border-radius: 10px;
  padding: 0.5em 1em;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form .form-input:focus, .form .form-input:active {
  outline: none;
  width: 100%;
  border-color: var(--highlight-color);
}
.form .form-input::-webkit-input-placeholder {
  color: inherit;
}
.form .form-input::-moz-placeholder {
  color: inherit;
}
.form .form-input:-ms-input-placeholder {
  color: inherit;
}
.form .form-input::-ms-input-placeholder {
  color: inherit;
}
.form .form-input::placeholder {
  color: inherit;
}

.user {
  max-width: 700px;
  background-color: var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3em;
  margin: 0 1.5em;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0;
  }
}
.user .user-avatar {
  border-radius: 50%;
  border: 10px solid var(--main-color);
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.user .user-info {
  margin-left: 2em;
}
.user .user-info .user-name,
.user .user-info .user-description {
  margin-bottom: 0.5em;
}
.user .user-info .user-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 400px;
  margin-bottom: 1em;
}
.user .user-info .user-stats li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
}
.user .user-info .user-stats li strong {
  margin-left: 0.5em;
  font-size: 0.9rem;
}
.user .user-repoLink {
  display: inline-block;
  text-decoration: none;
  color: var(--highlight-color);
  font-size: 0.9rem;
  padding: 0.25em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  background-color: var(--main-color);
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */