* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgray;
}

.form {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  padding: 1.5em 2.5em;
  border-radius: 5px;
  .form__title {
    text-align: center;
    margin-bottom: 1.5em;
  }
  .form__control {
    position: relative;
    margin: 1em 0 2em;
    width: 18em;
    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px lightgrey solid;
      display: block;
      width: 100%;
      padding: 0.5em 0;
      font-size: 1.2rem;
      color: inherit;
      transition: border-color 0.25s ease;
      &:focus,
      &:valid {
        outline: none;
        border-bottom: 2px lightblue solid;
        & + label span {
          color: lightblue;
          transform: translateY(-2em);
        }
      }
    }
    label {
      position: absolute;
      top: 0.7em;
      left: 0;
      span {
        display: inline-block;
        font-size: 1.2em;
        min-width: 5px;
        transition: color 0.25s ease, transform 0.25s ease-out;
      }
    }
  }
  .form__button {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: lightblue;
    padding: 1em;
    font-family: inherit;
    font-size: 1em;
    border: 1px lightblue solid;
    border-radius: 5px;
    transition: border-color 0.25s ease, transform 0.25s ease;
    &:focus {
      outline: none;
      border: 1px black solid;
      font-weight: bold;
    }
    &:active {
      transform: scale(0.98);
    }
  }

  .form__text {
    margin-top: 1.5em;
    text-align: center;
    a {
      text-decoration: none;
      color: lightblue;
      transition: color 0.25s ease;
      &:hover,
      &:active,
      &:focus {
        color: white;
        text-decoration: underline;
        outline: none;
      }
    }
  }
}
