@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  .slider-side {
    height: 100%;
    transition: transform 0.25s ease-in-out;
    display: flex;
    &.slider-side--left {
      width: 35%;
      position: absolute;
      top: 0;
      left: 0;
      flex-flow: column-reverse;
    }
    &.slider-side--right {
      width: 65%;
      position: absolute;
      top: 0;
      right: 0;
      flex-flow: column;
    }
    & > div {
      flex: 1 0 100%;
      height: 100%;
      width: 100%;
    }
  }
  .slider-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    h1 {
      font-size: 4rem;
      margin-bottom: 1em;
      margin-top: -3em;
    }
    p {
      font-size: 1.6rem;
    }
  }
  .slider-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
  .slider-button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
    background-color: white;
    border: none;
    color: #aaa;
    cursor: pointer;
    padding: 1.5em;
    & > * {
      font-size: 1.6rem;
    }
    &:hover,
    &:active {
      color: #222;
    }
    &.slider-button--down {
      transform: translateX(-100%);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &.slider-button--up {
      transform: translateY(-100%);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
